<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <form method="post" th:object="${design}">
    <div th:each="ingredient : ${wrap}">
      <input name="ingredients" type="checkbox" th:value="${ingredient.id}">
      <span th:text="${ingredient.name}">INGREDIENT</span>
    </div>
    <input type="text" th:field="*{name}">
    <button>Submit your taco</button>
  </form>
</body>
</html>