<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Taco Cloud</title>
</head>
<body>
  <form method="post" th:action="@{/orders}" th:object="${order}">
    <a th:href="@{/design}" id="another">Design another taco</a><br/>


    <br/>
    <label for="ccCVV">CVV:</label>
    <input type="text" th:field="*{ccCVV}"/>
    <span class="validationError"
           th:if="${#fields.hasErrors('ccCVV')}"
           th:errors="*{ccCVV}">CC CVV Error</span>
    <br/>
    <input type="submit" value="Submit order"/>

  </form>

</body>
</html>